{% extends "base.html" %}


{% block content %}

<h1>Pair Build Process</h1>


<h1>{{ object.sprint_name }} - Update </h1>
<!-- <p>create_pairings: {{ object.create_pairings }}</p> -->
<!-- <h5>Possible Pair</h5>
{% for pair in object.create_pairings.possible_pairs %}
    <p>{{ pair }}</p>
{% endfor %} -->
<h5>Pair Results</h5>
<!-- <h3>Project Engineer Count: {{ object.create_pairings.tech_count }}</h3>
<h3>Possible Pairs on Team (including solo): {{ object.create_pairings.pair_count }}</h3>
<h3>Possible Pairs from all available Engineers (including solo): {{ object.create_pairings.possible_pair_count }}</h3>
<h3>Assigned Engineer Count: {{ object.create_pairings.assigned_tech_count }}</h3>
<h3>Project Engineers: {{ object.create_pairings.project_techs }}</h3>
<h3>Assigned Engineers: {{ object.create_pairings.assigned_tech_list }}</h3>

<h5>Pair DB Updates: {{ object.create_pairings.pair_db_updates }}</h5>

<h3>Create Pair Results</h3>
{% for pair_result in object.create_pairings.pair_results %}
    <p>{{ pair_result }}</p>
{% endfor %}  -->

{% endblock %}