{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<!-- block.super will get the content of the block from the parent template -->
{{ block.super }}
<!-- <script src="{{ STATIC_URL }}js/snippet.js"></script> -->
<!-- This is not what I want.  It grabs the js from the base level and not from the application!! -->
<!--https://stackoverflow.com/questions/34586259/how-to-organize-js-files-in-django-->

<!-- This post finally helped me understand how to do this-->
<!-- https://stackoverflow.com/questions/54842384/django-unable-to-load-static-files-->
<!-- This one point to the base project static folder -->
<!-- <script type="text/javascript" src="{% static 'js/snippet.js' %}"></script> -->

<!-- ###This one points to the static folder within the specific application!###-->
<!-- <script type="text/javascript" src="{% static 'snippets/js/snippet.js' %}"></script> -->
<script type="text/javascript" src="{% static 'snippets/js/snippet.js' %}"></script> 
{% endblock %}


{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}"" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

<!-- <p>{{ view.kwargs.msg}}</p> -->
<div class="mt-md-3">
    <h1>Create New Code Snippet</h1>
</div>   

<form action="{% url 'snippets:snippet-save' %}" method="post" id="newSnippetForm" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-10">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" name="inputTitle" value="" placeholder="descriptive title" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a snippet title.
            </div>
        </div>
        <div class="form-group col-md-2" id="snippetIDDiv">
            <label for="inputSnippetID">Snippet #</label>
            <input type="text" class="form-control" id="inputSnippetID" name="inputSnippetID" value="new" readonly>
        </div>
    </div>
    <div class="form-group">
      <label for="inputCode">Code</label>
      <textarea class="form-control" id="inputCode" rows="10" name="inputCode"  placeholder="code snippet in selected language" required></textarea><div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
          Please provide the snippet code.
      </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputLanguage">Language</label>
            <select name="inputLanguage" class="form-control" id="inputLanguage" required>
                <option value="" />- select language -</option>
                
                {% if language_list %}
                    {% for key, value in language_list.items %}
                    <option value="{{ key }}" 
                    {% if newlanguage == key %}
                        selected="yes"
                    {% endif %}
                     />{{ value }}</option>
                    {% endfor %}
                {% else %}
                    <option value="" />No languages available!</option>
                {% endif %}
            </select>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please select a language.
            </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputStyle">Style</label>
          <select name="inputStyle" class="form-control" id="inputStyle" required>
            <option value="" />- select style -</option>
            {% if style_list %}
                {% for key, value in style_list.items %}
                <option value="{{ key }}" 
                    {% if newstyle == key %}
                        selected="yes"
                    {% endif %}
                    />{{ value }}</option>
                {% endfor %}
            {% else %}
                <option value="" />No styles available!</option>
            {% endif %}
          </select>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please select a style.
            </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputOwner">Owner</label>
          <input type="text" class="form-control" id="inputOwner" name="inputOwner" 
            value="{% if user.is_authenticated %}{{ user.get_username }}{% endif %}" readonly>
        </div>
        <div class="form-group col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inputLinenos" name="inputLinenos" 
                {% if object.linenos %}
                    checked
                {% endif %}
                >
                <label class="form-check-label" for="inputLinenos">
                Linenos
                </label>
            </div>
        </div>
    </div>
    <!-- <div class="form-group ">
      <label for="inputCode">Highlighted</label>
      <textarea class="form-control" id="inputHighlighted" rows="3" name="inputHighlighted"  value="{{ object.highlighted }}" readonly></textarea>
    </div> -->
    <button id="btnCreateSnippet" type="submit" class="btn btn-primary">Create</button>
  </form>



  <hr>
<div class="row">
    <div class="col">
        <p>
            <a href='#'><i class="fas fa-backward return_to_list_post_link"></i></a>
            <a href='#' class="return_to_snippet_list_post_link">return to list</a> 
            <!-- | <a href='{{ object.get_absolute_url }}update/'>edit</a> {% url 'schedule:sprint-list' %}-->
        </p>
    </div>
</div>

<form action="{% url 'snippets:snippet-list' %}" method="post" id="returntolistform">
    {% csrf_token %}
    <input type="hidden" name="filter_language" id="filter_language" value="{{ newlanguage }}" />
    <input type="hidden" name="filter_style" id="filter_style" value="{{ newstyle }}" />
</div>
</form>   



{% endblock %}